<div class="center jumbotron">

    <h3>Fox Services Task Lists:</h3>

    <hr>

    <% @list.each do |list| %>

    <div>
        <%= link_to list.normalize_name, list_path(list),:method => "get", id: "list_index", style: "width: 120px;" %>
    </div>
    <hr>
    <% end %>

</div>
