<div class="center jumbotron">

    <% @list.each do |list| %>

    <div>
        <%= link_to list.name, list_path(list),:method => "get", id: "list_index", style: "width: 120px;" %>
    </div>
    <hr>
    <% end %>

</div>
