<% provide(:title, "Home") %>

    <h1>Welcome to Fox Services!</h1>
    <p>Construction Cleanup | Brush Cutting | Property Grading | Erosion Control | <br>Equipment/Material Transport | Debris Removal | Lawn Maintenance</p>


            


