<%= link_to "Edit Your Info", edit_employee_path(@employee) %> | <%= link_to "Delete Your Account", employee_path(@employee), method: :delete,
              data: { confirm: 'Are you sure?' } %>
<br>

<h3>Welcome <%= @employee.name %>,</h3> 
<h4>Here Are The Lists That Have Tasks Assigned To You:</h4>

<hr>

<% @employee.lists.group(:id).each do |l| %>

    <%= link_to l.normalize_name, list_tasks_path(l) %><br>
    
<% end %>
