<% tasks.each do |t| %>

    <% if t.completed == false %>
        <li style="color:red;"><%= t.title %> - <%= link_to "View Task Details", list_task_path(t.list, t) %></li><br>
    <% else t.completed == true %>
        <li style="color:green;"><%= t.title %> - <%= link_to "View Task Details", list_task_path(t.list, t) %></li><br>
    <% end %>
                
<% end %>