
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @contact_message.name %></h1>
    <p>
      You have successfully submiited your email inquiry to Fox Services,
      someone will be contacting you soon.<br>
    </p>
   
    <p>Thanks for reaching out and have a great day!</p>
  </body>
</html>